/*CONTACT START*/
/*-info start*/
.contact-info {
  height: fit-content;
  border-radius: 12px 12px 0px 0px;
  padding: 50px 73px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}
.contact-info-header {
  width: 100%;
  height: fit-content;
}
.contact-info .main-info-header {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 35px;
}
.support-info-wrapper {
  float: right;
  width: fit-content;
  height: 100%;
}
.contact-info .support-info-header {
  font-size: 23px;
  font-weight: 800;
  transform: translateY(14px);
  margin-bottom: 49px;
}
.single-info {
  height: 42px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
}
.single-info .info-icon {
  height: 100%;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.single-info .info-name {
  flex: 1;
  margin-left: 22px;
}
.info-name p {
  font-size: 25px;
  font-weight: 500;
}
.info-name a {
  font-size: 25px;
  font-weight: 500;
}

/*-info end*/
/*-form start*/
.contact-form {
  height: fit-content;
  padding: 118px 65px 30px 65px;
  border-radius: 12px 12px 0px 0px;
  transform: translateY(-12px);
}
.form-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-field {
  width: 100%;
  height: 72px;
  /* margin-bottom: 32px; */
  border: none;
  padding: 21px 34px;
  font-size: 25px;
  font-weight: 500;
}
.textarea-field {
  padding: 21px 34px;
  border: none;
  width: 100%;
  /* margin-bottom: 32px; */
  font-size: 25px;
  font-weight: 500;
}
.submit-wrapper {
  display: flex;
  justify-content: center;
}
.submit-button {
  border: none;
  height: 63px;
  width: 279px;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
  color: white;
}
/*--cf7 style start*/

.wpcf7-form-control-wrap {
  width: 48%;
  height: 72px;
  margin-bottom: 32px;
}
.textarea {
  width: 100%;
  height: 100%;
}

/*--cf7 style end*/

/*-form end*/

/*CONTACT END*/
