/* FONTS */
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Black.ttf");
    font-weight: 900;
}
/* FONTS END */

/* GLOBALS */
html {
	scroll-behavior: smooth;
  }
  body {
	margin: 0;
}
.alignleft {
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}
.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}
main {
	display: block;
}
img {
	border-style: none;
}
:focus {
	outline: none;
}
h1,h2,h3,h4,h5,h6, p,a,span,div {
	font-family: 'Roboto';
	margin: 0px;
}
button:focus {
    outline: none;
}
.menu-item:focus,
.menu-item a:focus,
.menu-item a:focus span {
	outline: none !important;
}
a:focus { 
    outline: none;
}
a:hover {
	text-decoration: none;
    color: initial;
}
.dropdown-item:focus {
    background: transparent;
    outline: none;
    color: #fff;
}
img {
	max-width: 100%;
	height: auto;
}
iframe {
	border: none;
}
/* GLOBALS END*/

/* HEADER START */
header#masthead {
    filter: drop-shadow(0px 1px 4px #ccc );
}
.logo-nav-row {
    min-height: 125px;
    display: flex;
}
.head-logo-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}
.menu-col {
    display: flex;
    align-items: center;
}
.menu-col ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.menu-col ul li {
    margin-left: 24px;
}
.menu-col ul li a{
   font-size: 17px;
   font-weight: 600;
   color: inherit;
}
.head-menu-wrapper {
    width: 100%;
}
/* HEADER END */

/* HOME PAGE START */
.home-hero-cont {
    min-height: 585px;
    padding-top: 45px;
}
.container-fluid.home-hero-fluid {
    background-position: bottom;
    background-size: cover;
}
.top-hero-box-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 146px;
}
.tb-hero-box {
    position: relative;
    width: 209px;
    height: 203PX;
    overflow: hidden;
    border-radius: 10px;
}
span.tb-over {
    position: absolute;
    z-index: 9;
    color: #fff;
    font-weight: 800;
    font-size: 25px;
    left: 40px;
    top: 7px;
}
.tb-speakers {
    position: absolute;
    z-index: 9;
    color: #fff;
    font-weight: 800;
    font-size: 25px;
    left: 40px;
    bottom: 7px;
}
.tb-hero-box p {
    font-size: 140px;
    font-family: 'Roboto';
    font-weight: 900;
    width: 225px;
    color: #fff;
    height: 204px;
    background: linear-gradient(257.58deg, rgba(36, 48, 110, 0.78) -87.83%, rgba(73, 186, 228, 0.78) 106.62%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    backdrop-filter: blur(7px);
}

.annc-title-col h3 {
    font-size: 35px;
    font-weight: 800;
}
.annc-col {
    margin-top: 60px;
    margin-bottom: 80px;
    padding: 40px;
    border-radius: 15px 15px 0px 0px;
}
.annc-title-col {
    margin-bottom: 48px;
}
.annc-text-wrapper {
    max-height: 280px;
    overflow: auto;
    font-size: 17px;
    padding-right: 15px;
}
.annc-name-wrapper {
    font-size: 18px;
    font-weight: 800;
    margin-top: 14px;
}
.annc-text-wrapper::-webkit-scrollbar {
    width: 10px;
  }
.annc-text-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(173, 173, 173); 
    border-radius: 10px;
}
.annc-text-wrapper::-webkit-scrollbar-thumb {
    background: #24306e; 
    border-radius: 10px;
}
.middle-hero-box-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 66px;
}
.mb-hero-box {
    position: relative;
    width: 166px;
    height: 176px;
    overflow: hidden;
    border-radius: 10px;
}
span.halls {
    position: absolute;
    z-index: 10;
    color: #fff;
    font-weight: 800;
    font-size: 25px;
    left: 30px;
    bottom: 20px;
}
.mb-hero-box p {
    font-size: 148px;
    font-family: 'Roboto';
    font-weight: 900;
    width: 190px;
    color: #fff;
    height: 176px;
    background: linear-gradient(257.58deg, rgba(36, 48, 110, 0.78) -87.83%, rgba(73, 186, 228, 0.78) 106.62%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    backdrop-filter: blur(9px);
    margin-left: -10px;
    position: relative;
    z-index: 9;
}
.middle-hero-box {
    display: flex;
    justify-content: flex-end;
    margin-top: -37px;
}
.bb-hero-box {
    max-width: 241px;
    padding: 5px 24px 10px 24px;
    border-radius: 10px;
    background: linear-gradient(257.58deg, rgba(36, 48, 110, 0.78) -87.83%, rgba(73, 186, 228, 0.78) 106.62%);
    margin-top: -85px;
    backdrop-filter: blur(7px);
}
.bottom-hero-box {
    display: flex;
    justify-content: flex-end;
    padding-right: 146px;
}
.bb-hero-box h3 {
    font-size: 20px;
    line-height: 36px;
    font-family: 'Roboto';
    color: #fff;
    margin-bottom: 3px;
    font-weight: 600;
}
.bb-hero-box ul {
    font-size: 17px;
    line-height: 22px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #fff;
    padding-left: 20px;
    margin-bottom: 0px;
}
.title-box * {
    font-size: 47px;
    font-family: 'Roboto';
    font-weight: 800;
    line-height: 54px;
}
.date-location-wrapper {
    display: flex;
    margin-top: 10px;
}
.dates-wrapper {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
}
.home-dts {
    margin-left: 15px;
    color: #fff;
}
.location-wrapper {
    margin-left: 50px;
    font-size: 25px;
    font-weight: 800;
    display: flex;
    align-items: center;
    color: #fff;
}
.location-wrapper img {
    margin-right: 10px;
}
#time-counter {
    margin-top: 60px;
    max-width: 472px;
}
.date-titles {
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
}
.date-titles > div {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    line-height: 30px;
}
#date-data-fields {
    display: flex;
    justify-content: space-between;
    background: rgba(217, 230, 237, 0.7);
    backdrop-filter: blur(11px);
    border-radius: 3px;
    margin-top: 10px;
    padding: 0px 8px;
}
#date-data-fields > div {
    text-align: center;
    font-size: 65px;
    line-height: 70px;
    font-family: 'Roboto';
    color: #fff;
    font-weight: 600;
}
#date-data-fields > div:nth-child(1) {
    width: 78px;
}
#date-data-fields > div:nth-child(2) {
    width: 87px;
}
#date-data-fields > div:nth-child(3) {
    width: 104px;
}
#date-data-fields > div:nth-child(4) {
    width: 119px;
}
.white-news-title h2 {
    font-weight: 900;
    font-family: 'Roboto';
    font-size: 35px;
    line-height: 55px;
    margin-bottom: 20px;
}

.annc-text-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.annc-cta {
    text-align: right;
}
.annc-cta a {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    padding: 7px 15px;
}
.annc-cta a {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    padding: 6px 45px;
    border-radius: 3px;
}
.news-ttl h3 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 10px;
    padding-left: 25px;
}
.swiper-slide {
    height: auto;
}
.home-multi-news-slider {
    padding: 23px 18px;
    border-radius: 12px;
}
.multi-slider-white-wrapper {
    background: #fff;
    border-radius: 12px;
}
.slider-post-title h3 {
    font-size: 15px;
    color: #000;
    font-weight: 600;
}
.slider-post-date {
    color: #A3A3A3;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 600;
}
.ms-image-wrapper {
    min-height: 209px;
}
.slider-post-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.slider-post-button {
    margin-top: 20px;
}
.slider-post-button a {
    color: #fff;
    padding: 7px 38px;
    font-size: 15px;
    font-weight: 800;
    display: inline-block;
    border-radius: 3px;
}
.multi-slide-container {
    padding: 10px 15px 30px 15px;
    border-radius: 12px;
}
.ar-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-prev-unique {
    left: 0px;
    position: absolute;
    height: 100%;
    width: 40px;
    top: 0px;
    z-index: 999;
    transition: 0.2s ease-out;
}
.swiper-button-next-unique {
    right: 0px;
    position: absolute;
    height: 100%;
    width: 40px;
    top: 0px;
    z-index: 999;
    transition: 0.2s ease-out;
}
.program-home-fluid {
    margin-top: 90px;
}
.program-title-infos-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.program-title h2 {
    font-size: 35px;
    font-weight: 900;
}
.program-rooms {
    display: flex;
    align-items: center;
}
.program-infos {
    display: flex;
    align-items: center;
}
.program-days {
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.programs-rooms-icon {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.programs-rooms-icon img {
    width: 20px;
}
.programs-rooms-title {
    font-size: 18px;
    font-weight: 900;
    margin-left: 10px;
}
.programs-days-icon {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
}
.program-days {
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.program-days-text {
    font-size: 18px;
    font-weight: 900;
    margin-left: 10px;
}
.programs-content {
    margin-top: 30px;
}
.program-baner-wrapper {
    text-align: right;
    position: relative;
}
.program-banner-col {
    display: flex;
    justify-content: center;
}
.program-cta {
    text-align: center;
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.programs-content p {
    line-height: 21px;
}
.program-cta a {
    margin: 0 auto;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    padding: 8px 50px;
}
.sponsors-fluid {
    margin-top: 90px;
}
.sponsors-head-title h2 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 35px;
}
.sp-class-name h4 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 9px;
}
.sp-devider {
    height: 1px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 10px;
}
.sponsors-images-wrapper {
    padding-left: 35px;
    padding-right: 35px;
}
.sponsors-images-wrapper .row {
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.sponsor-image-wrapper {
    text-align: center;
}
.sponsor-image-wrapper a {
    display: inline-block;
}
.single-sponsor-col {
    padding-left: 40px;
    padding-right: 40px;
}
.cta-banner-wrap {
    position: relative;
    min-height: 130px;
    border-radius: 6px;
}
.banner-vector-top {
    position: absolute;
    top: 0px;
    left: 0px;
}
.banner-vector-bottom {
    position: absolute;
    bottom: -1px;
    right: 0px;
}
.cta-bannner-icon-wrapper {
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}
.cta-banner-text {
    color: #fff;
    padding: 40px 85px 30px 40px;
}
.cta-btn-link {
    text-align: center;
    padding-bottom: 20px;
}
.cta-banner-link {
    color: #fff;
    padding: 5px 50px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 4px;
}
.cta-banner-link:hover {
    color: #fff;
}
.banners-home-fluid {
    margin-top: 120px;
    margin-bottom: 170px;
}
.hm-banner-col {
    margin-bottom: 30px;
}
/* HOME PAGE END */

/* FOOTER START */
.footer-logo-txt-col {
    position: relative;
    margin-top: 22px;
    margin-bottom: 60px;
}
.footer-vertical-devider {
    position: absolute;
    right: 0px;
    width: 1px;
    height: 100%;
    top: 0px;
    background: linear-gradient(to bottom, rgb(255 255 255 / 22%), rgb(255 255 255),rgb(255 255 255 / 22%));
}
.footer-txt-wrapper p {
    font-size: 30px;
    margin-top: 30px;
    color: #fff;
    font-weight: 800;
    max-width: 590px;
}
.footer-info-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
}
.footer-info-links {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.footer-info-wrapper h4 {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 800;
}
.footer-info-wrapper {
    height: 100%;
    padding-left: 70px;
    padding-top: 75px;
}
.footer-info-links a {
    font-size: 20px;
    line-height: 1;
    font-weight: 800;
    margin-bottom: 8px;
}
.col-12.footer-horisontal-devider {
    margin-bottom: 25px;
    height: 2px;
    background: linear-gradient(to right, rgb(255 255 255 / 22%), rgb(255 255 255),rgb(255 255 255 / 22%));
}
.footer-bootoms-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.terms-conditions-wrapper a {
    font-size: 25px;
    font-weight: 800;
}
.footer-apps-wrapper a {
    display: inline-block;
    margin-left: 16px;
}
.footer-apps-wrapper a:last-child {
    margin-left: 50px;
}
.footer-bootom-col {
    margin-bottom: 70px;
}
/* FOOTER END */






















/* RESPONSIVE START */
@media(min-width: 48px) { 
.lecturer-img {
    max-width: 180px;
}
}
/* RESPONSIVE END */


























































































































































@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
