.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.information-row-wrapper {
  display: flex;
}

/* Accordion styles */
.tabs {
  border-radius: 12px;
  overflow: hidden;
  /* box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5); */
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 36px 40px 0px 33px;
  height: 112px;
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  margin-bottom: 0;
  /* Icon */
}

.tab-label::after {
  content: "+";
  font-size: 30px;
  text-align: center;
  transition: all 0.35s;
  /* transform: translateY(-8px); */
}
.tab-content {
  font-size: 19px;
  font-weight: 500;
  max-height: 0;
  padding: 0 1em;
  color: #000000;
  background: white;
  transition: all 0s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}
input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  /* transform: rotate(90deg); */
  content: "-";
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 48px 100px;
  background-color: #e2eef3;
}
.tabs :first-child .tab-content {
  max-height: 100vh;
  padding: 48px 100px;
  background-color: #e2eef3;
}
.tabs :first-child .tab-label::after {
  content: "-";
}
.tabs :first-child :checked ~ .tab-content {
  max-height: 0;
  padding: 0 1em;
  background: white;
}
.tabs :first-child :checked + .tab-label::after {
  content: "+";
}
