/*NEWS START*/
.main-news-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.main-news-wrapper :nth-child(4n) {
  margin-right: 0%;
}
.news-wrapper {
  width: 23%;
  margin-bottom: 25px;
  margin-right: 2.66%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-wrapper img {
  max-height: 225px;
  width: 100%;
  margin-bottom: 10px;
}
.news-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-read-more {
  border: none;
  color: white;
  width: 123px;
  height: 26px;
}
.news-info-wrapper .info {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}
.info .info-date {
  display: flex;
  flex-direction: row;
}

.info-text .title {
  font-weight: 800;
  font-size: 15px;
}
.info-text .content {
  font-weight: 400;
  font-size: 14px;
}
.info-date p {
  font-size: 13px;
  font-weight: 600;
  color: #9e9e9e;
}
.info-date .icon {
  width: 12px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5px;
}
.pagination-wrapper {
  width: 100%;
  margin-bottom: 50px;
}
.pagination-wrapper .page-numbers {
  font-size: 21px;
  font-weight: bolder;
  color: white;
  /* background-color: black; */
  /* width: 20px; */
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
}
.info-text hr {
  height: 0.5px;
}

/*NEWS END*/
