/*PROGRAMS STRAT*/

/* -header text start*/

.main-header h1 {
  font-weight: 800;
  margin-left: 10px;
}
.main-header h1::before {
  content: "";
  display: block;
  width: 22px;
  height: 7px;
  left: 0;
  top: 50%;
  position: absolute;
}
/* -header text end*/

/* -program content start */
/* --program dates/ hall select start*/
.main-program-wrapper {
  /* padding-top: 56px; */
  height: 50px;
  /* margin-top: 48px; */
}
.select-options-wrappes {
  height: 97px;
}
.date-boxes-wrapper {
  display: flex;
  flex-direction: row;
  /* padding-left: 0; */
  margin-block: 3px;
  padding-left: 0;
}
.date-box-wrapper {
  height: 100%;
  width: 150px;
  margin-right: 7px;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px 19px;
  text-align: center;
}
.date-box-wrapper p {
  color: white;
}
.date-box-day {
  font-weight: 800;
  font-size: 23px;
}
.date-box-date {
  font-weight: 800;
  font-size: 15px;
}
.hall-boxes-wrapper {
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  /* padding-right: 0; */
  margin-bottom: 3px;
  padding-right: 0;
  transform: translateX(5px);
}
.hall-box-wrapper {
  height: 100%;
  width: 92px;
  margin-right: 7px;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 22px;
  padding-bottom: 16px;
  text-align: center;
}
.hall-box-name {
  font-weight: 800;
  font-size: 15px;
  color: white;
}
.date-box--active {
  transform: translateY(3px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: 0.5s;
}
.hall-box--active {
  transform: translateY(3px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: 0.5s;
}

/* --program dates/ hall select end*/

/* --program items start */
.program-items-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
.signle-item-wrapper {
  width: 100%;
  height: 184px;
  margin-bottom: 16px;
  padding: 19px;
  display: flex;
}
.signle-item-wrapper-2 {
  width: 100%;
  height: 158px;
  display: flex;
  padding-left: 19px;
}
.image-wrapper {
  width: 150px;
  height: 100%;
}

.image-wrapper img {
  height: 100%;
}
.item-info-wrapper {
  width: calc(100% - 150px);
  height: 100%;
}
.info-text-wrapper {
  height: 100%;
}
.info-text-wrapper-row {
  height: 100%;
}
.info-text-left {
  padding-top: 5%;
}
.info-text-left-margin-none {
  height: 100%;
}
.item-topic {
  font-weight: 800;
  font-size: 30px;
}
.lecturer-info-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.item-lecturer-name {
  font-weight: 800;
  font-size: 18px;
}
.item-lecturer-info {
  font-weight: 300;
  font-size: 18px;
}
.info-text-right {
  padding-top: 34px;
}
.info-text-right-margin {
  height: 100%;
}
.info-text-right p {
  font-weight: 800;
  font-size: 15px;
  color: #013765;
  margin-left: 11px;
}
.info-text-right p::before {
  content: "";
  display: block;
  width: 17px;
  height: 24px;
  left: 0;
  position: absolute;
  border-radius: 3px;
  transform: translateX(-10px);
}
.signle-item-margin {
  height: 51px;
  width: 100%;
  display: flex;
  padding-left: 19px;
}
.bottom-line {
  height: 100%;
  width: 91px;

  float: right;
}
.no-right-padding {
  padding-right: 0;
}
.item-hidden {
  display: none;
}

/* --program items end */

/* -program content end */

/*PROGRAMS END*/ ;
