/*LECTURER START*/
.main-header {
  margin-bottom: 88px;
}
.lecturer {
  height: 100px;
  width: 100%;
  /* background-color: brown; */
}
.lecturer-row-wrapper {
  /* margin-left: 17px;
  margin-right: 17px; */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.lecturer-item {
  height: 186px;
  width: 47%;
  margin-bottom: 28px;
  /* border-radius: 8px; */
  display: flex;
  flex-direction: row;
}
.lecturer-img {
  width: 180px;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.lecturer-img img {
  width: 100%;
  height: 100%;
}
.lecturer-info {
  flex: 1;
  height: 100%;
  padding: 15px 10px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.lecturer-info p {
  color: white;
}
.lecturer-name {
  font-size: 24px;
  font-weight: 700;
}
.lecturer-title {
  font-size: 18px;
  font-weight: 500;
}

/*LECTURER END*/
