/*CONTACT START*/
/*-info start*/
.contact-info {
  height: fit-content;
  border-radius: 12px 12px 0px 0px;
  padding: 50px 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-info .contact-first-row {
  width: 100%;
}
.contact-info-header {
  width: 100%;
  height: fit-content;
}
.main-info-header {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 35px;
}
.support-info-wrapper {
  width: fit-content;
  height: 100%;
}
.support-info-header {
  font-size: 23px;
  font-weight: 900;
  transform: translateY(14px);
  margin-bottom: 49px;
}

.single-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 22px;
}
.contact-first-row img {
  width: 33px;
}
.multi-info .img-div {
  padding-top: 8px;
}
.single-info .info-icon {
  height: 100%;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.single-info .info-name {
  flex: 1;
  margin-left: 22px;
}
.multi-info .info-name {
  flex: 1;
  margin-left: 22px;
}
.multi-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
}
.multi-info .info-icon {
  width: 40px;
  background-repeat: no-repeat;
  background-position: top;
  transform: translateY(10px);
}
.info-name p {
  font-size: 25px;
  font-weight: 800;
}
.info-name a {
  font-size: 25px;
  font-weight: 800;
}

/*-info end*/
/*-form start*/
.contact-form {
  height: fit-content;
  padding: 118px 65px 30px 65px;
  border-radius: 12px 12px 0px 0px;
  transform: translateY(-12px);
}
.form-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-field {
  width: 100%;
  height: 72px;
  /* margin-bottom: 32px; */
  border: none;
  padding: 21px 34px;
  font-size: 25px;
  font-weight: 500;
}
.textarea-field {
  padding: 21px 34px;
  border: none;
  width: 100%;
  /* margin-bottom: 32px; */
  font-size: 25px;
  font-weight: 500;
}
.submit-button {
  border: none;
  height: 63px;
  width: 279px;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
  color: white;
}
/*--cf7 style start*/
.cf-input-margin-bottom {
  margin-bottom: 32px;
}
.submit-wrapper {
  display: flex;
  justify-content: center;
}
.contact-form input,
textarea,
button {
  border-radius: 4px;
}
.contact-form input,
textarea {
  font-size: 24px;
  font-weight: 900;
}
.contact-form input::placeholder,
textarea::placeholder {
  font-size: 24px;
  font-weight: 900;
}

/*--cf7 style end*/

/*-form end*/

/*CONTACT END*/

/* INFORMATIONS START */
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.information-row-wrapper {
  display: flex;
}

/* Accordion styles */
.tabs {
  border-radius: 12px;
  overflow: hidden;
  /* box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5); */
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 36px 40px 0px 33px;
  height: 112px;
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  margin-bottom: 0;
  /* Icon */
}

.tab-label::after {
  content: "+";
  font-size: 30px;
  text-align: center;
  transition: all 0.35s;
  /* transform: translateY(-8px); */
}
.tab-content {
  font-size: 19px;
  font-weight: 500;
  max-height: 0;
  padding: 0 1em;
  color: #000000;
  background: white;
  transition: all 0s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}
input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  /* transform: rotate(90deg); */
  content: "-";
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 48px 100px;
  background-color: #e2eef3;
}
.tabs :first-child .tab-content {
  max-height: 100vh;
  padding: 48px 100px;
  background-color: #e2eef3;
}
.tabs :first-child .tab-label::after {
  content: "-";
}
.tabs :first-child :checked ~ .tab-content {
  max-height: 0;
  padding: 0 1em;
  background: white;
}
.tabs :first-child :checked + .tab-label::after {
  content: "+";
}
/* INFORMATIONS END */

/*NEWS START*/
.main-news-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.main-news-wrapper :nth-child(4n) {
  margin-right: 0%;
}
.news-wrapper {
  width: 23%;
  margin-bottom: 25px;
  margin-right: 2.66%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-wrapper img {
  max-height: 225px;
  width: 100%;
  margin-bottom: 10px;
}
.news-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-read-more {
  border: none;
  color: white;
  width: 123px;
  height: 26px;
}
.news-info-wrapper .info {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}
.info .info-date {
  display: flex;
  flex-direction: row;
}

.info-text .title {
  font-weight: 800;
  font-size: 15px;
}
.info-text .content {
  font-weight: 400;
  font-size: 14px;
}
.info-date p {
  font-size: 13px;
  font-weight: 600;
  color: #9e9e9e;
}
.info-date .icon {
  width: 12px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5px;
}
.pagination-wrapper {
  width: 100%;
  margin-bottom: 50px;
}
.pagination-wrapper .page-numbers {
  font-size: 21px;
  font-weight: bolder;
  color: white;
  /* background-color: black; */
  /* width: 20px; */
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
}
.info-text hr {
  height: 0.5px;
}

/*NEWS END*/

/*PROGRAMS STRAT*/

/* -header text start*/
.main-header h1 {
  font-weight: 800;
  margin-left: 10px;
  font-size: 35px;
  margin-bottom: 65px;
}
/* -header text end*/

/* -program content start */
/* --program dates/ hall select start*/
.mobile-hall-wrapper {
  display: none;
}
.phone-time-wrapper {
  display: none;
}
.set-flax-options {
  display: flex;
}
.date-boxes-wrapper {
  display: flex;
  flex-direction: row;
  /* padding-left: 0; */
  margin-block: 3px;
  /* padding-left: 0; */
}
.date-box-wrapper {
  height: 100%;
  /* width: 150px; */
  margin-right: 7px;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px 19px;
  text-align: center;
}
.date-box-wrapper p {
  color: white;
}
.date-box-day {
  font-weight: 800;
  font-size: 25px;
}
.date-box-date {
  font-weight: 800;
  font-size: 15px;
}
.hall-wrapper {
  display: flex;
  align-items: end;
  justify-content: end;
  /* padding-right: 0; */
  /* transform: translateX(5px); */
}
.hall-boxes-wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-block: 3px;
}
.hall-box-wrapper {
  margin-left: 7px;
  width: 33%;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px;
  align-items: center;
}
.hall-box-wrapper_pdf {
  height: 100%;
  width: 240px;
  margin-right: 7px;
  border-radius: 4px;
  padding: 10px 26px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hall-box-wrapper_pdf img {
  margin-left: 20px;
  max-width: 45px;
}
.hall-box-wrapper_pdf a {
  line-height: 1.1;
}
.hall-box-name {
  font-weight: 800;
  font-size: 15px;
  color: white;
  text-align: center;
}
.hall-box-name_pdf {
  font-weight: 800;
  font-size: 25px;
  color: white;
}
.date-box--active {
  transform: translateY(3px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: 0.5s;
}
.hall-box--active {
  transform: translateY(3px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: 0.5s;
}

/* --program dates/ hall select end*/

/* --program items start */
.program-items-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
.signle-item-wrapper {
  width: 100%;
  height: 184px;
  margin-bottom: 16px;
  padding: 19px;
  display: flex;
}
.signle-item-wrapper-2 {
  width: 100%;
  height: 158px;
  display: flex;
  padding-left: 19px;
}
.image-wrapper {
  width: 150px;
  height: 100%;
}
/* 
.image-wrapper img {
  height: 100%;
} */
.item-info-wrapper {
  width: calc(100% - 150px);
  height: 100%;
}
.info-text-wrapper {
  height: 100%;
}
.info-text-wrapper-row {
  height: 100%;
}
.info-text-left {
  padding-top: 5%;
}
.info-text-left-margin-none {
  height: 100%;
}
.item-topic {
  font-weight: 900;
  font-size: 30px;
}
.lecturer-info-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.item-lecturer-info strong {
  font-weight: 800;
  font-size: 18px;
}
.item-lecturer-info {
  font-weight: 300;
  font-size: 18px;
}
.info-text-right {
  padding-top: 34px;
}
.info-text-right-margin {
  height: 100%;
}
.info-text-right p {
  font-weight: 800;
  font-size: 15px;
  color: #013765;
  margin-left: 11px;
}
.info-text-right p::before {
  content: "";
  display: block;
  width: 17px;
  height: 24px;
  left: 0;
  position: absolute;
  border-radius: 3px;
  transform: translateX(-10px);
}
.signle-item-margin {
  height: 51px;
  width: 100%;
  display: flex;
  padding-left: 19px;
}
.bottom-line {
  height: 100%;
  width: 91px;

  float: right;
}
.no-right-padding {
  padding-right: 0;
}
.item-hidden {
  display: none;
}

/* --program items end */

/* -program content end */

/*PROGRAMS END*/

/*LECTURER START*/
.lecturer {
  height: 100px;
  width: 100%;
}
.member-col {
  margin-bottom: 30px;
}
.single-speaker-wrapper {
  display: flex;
}
.lecturer-img {
  border-radius: 8px;
}
.lecturer-name {
  font-size: 24px;
  font-weight: 800;
}
.lecturer-title {
  font-size: 18px;
  font-weight: 400;
}
.all-member-info {
  flex: 1;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.member-theme-time-wrapper {
  font-size: 18px;
  font-weight: 400;
}
.member-theme-time-wrapper p:first-child {
  margin-bottom: 3px;
}
.lecturer-row-wrapper {
  margin-bottom: 150px;
}
/*LECTURER END*/

/*SINGLE POST START*/
.single-post-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}
.single-post-img {
  margin-bottom: 25px;
}
.single-post-content {
  margin-bottom: 25px;
}
.single-post-content p {
  font-size: 18px;
  font-weight: 400;
}
/*SINGLE POST END*/

/*RESPONSIVE START*/

/*-PROGRAMS R START*/
@media (max-width: 768px) {
  .date-box-wrapper {
    padding: 11px 4px;
  }
  .date-box-day {
    font-size: 15px;
  }
  .date-box-date {
    font-size: 11px;
  }
  .hall-box-name {
    font-size: 11px;
  }
  .item-topic {
    font-size: 13px;
  }
  .item-lecturer-info {
    font-size: 12px;
  }
  .item-lecturer-info strong {
    font-weight: 800;
    font-size: 12px;
  }
  .hall-box-wrapper_pdf img {
    max-width: 28px;
  }
  .hall-box-name_pdf {
    display: none;
  }
  .hall-box-wrapper_pdf {
    width: 50px;
    padding: 0;
  }

  .signle-item-wrapper-2 {
    height: fit-content;
    padding-left: 0;
  }
  .image-wrapper {
    width: 85px;
  }
  .image-wrapper img {
    height: 100%;
  }
  .lecturer-info-wrapper {
    margin-top: 0px;
  }
  .info-text-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .item-info-wrapper {
    flex: 1;
  }
  .info-text-wrapper-row .info-text-left {
    padding-top: 0px;
  }
  .signle-item-margin {
    display: none;
  }
  .item-margin-wrapper {
    margin-bottom: 20px;
  }
  .main-header h1 {
    margin-bottom: px;
  }
}
@media (max-width: 992px) {
  .hall-wrapper {
    display: none;
  }
  .mobile-hall-wrapper {
    display: block;
    height: 50px;
  }
  .phone-time-wrapper {
    display: block;
  }
  .hall-box-wrapper {
    padding: 5px;
    width: 25%;
  }
  .info-text-left-margin-none .bottom-line {
    border-bottom: none;
    border-left: none;
  }
  .info-text-wrapper-row .info-text-left {
    border-right: none;
  }
  .info-text-right p::before {
    display: none;
  }
  .info-text-wrapper-row .info-text-left-margin {
    border-right: none;
  }
  .hall-box--active {
    transform: translateY(-3px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .info-text-right {
    display: none;
  }

  .date-box-day {
    font-size: 20px;
  }
  .date-box-date {
    font-size: 11px;
  }
  .hall-box-name {
    font-size: 15px;
  }
  .item-topic {
    font-size: 17px;
  }
  .item-lecturer-info {
    font-size: 16px;
  }
  .item-lecturer-info strong {
    font-weight: 800;
    font-size: 16px;
  }
  .hall-box-name_pdf {
    font-size: 20px;
  }
  .hall-box-name_pdf {
    display: none;
  }
  .hall-box-wrapper_pdf {
    width: 80px;
    padding: 5px;
  }
  .hall-box-wrapper_pdf img {
    margin-left: 0;
  }
  .pdf-img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 576px) {
}

/*-PROGRAMS R END*/

/*-CONTACT R START*/
@media (max-width: 992px) {
  .contact-info {
    padding: 50px 30px;
  }
  .info-name p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .contact-main-cont .section-background-color {
    background: none !important;
  }
  .cf-input-margin-bottom {
    margin-bottom: 10px;
  }
  .main-info-header,
  .support-info-header {
    font-size: 20px;
  }
  .info-name p {
    font-size: 16px;
  }
  .contact-form input::placeholder,
  textarea::placeholder {
    font-size: 16px;
  }
  .contact-form input,
  textarea {
    font-size: 16px;
    font-weight: 500;
  }
  .input-field {
    padding: 10px 10px;
    height: 40px;
  }
  .textarea-field {
    padding: 10px 10px;
  }
  .contact-form {
    padding: 40px 15px;
  }
  .submit-button {
    height: 36px;
    width: 175px;
    font-size: 14px;
  }
  .textarea-field {
    font-size: 16px;
  }
  .contact-first-row img {
    width: 28px;
  }
}
/*-CONTACT R END*/

/* - SPEAKERS R START*/
@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .all-member-info {
    padding: 0px 10px;
  }
  .lecturer-img {
    max-width: 100px;
  }
  .lecturer-name {
    font-size: 16px;
  }
  .lecturer-title {
    font-size: 15px;
    font-weight: 800;
  }
  .member-theme-time-wrapper {
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 576px) {
}

/* - SPEAKERS R END*/

/*RESPONSIVE END*/
